<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BPS - Microdata Service</title>

    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/animate-css/animate.min.css" rel="stylesheet">
    <link href="/assets/owl/owl.carousel.css" rel="stylesheet">
    <link href="/assets/owl/owl.transitions.css" rel="stylesheet">
    <link href="/assets/prettyphoto/prettyPhoto.css" rel="stylesheet">
    <link href="/assets/dist/home.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/assets/ie9/html5shiv.js"></script>
    <script src="/assets/ie9/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/assets/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/ico/apple-touch-icon-57-precomposed.png">
</head>

<body id="home" class="homepage">
    <div class="preloading">
        <img class="loading-gif" src="/assets/images/loading.svg" alt="preloader">
    </div>

    <%- body %>

    <script src="/assets/jquery/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="/assets/owl/owl.carousel.min.js"></script>
    <script src="/assets/scroll/mousescroll.js"></script>
    <script src="/assets/scroll/smoothscroll.js"></script>
    <script src="/assets/prettyphoto/jquery.prettyPhoto.js"></script>
    <script src="/assets/isotope/jquery.isotope.min.js"></script>
    <script src="/assets/inview/jquery.inview.min.js"></script>
    <script src="/assets/wow/wow.min.js"></script>
    <script src="/assets/dist/home.js"></script>
</body>

</html>