<% layout('layout/main') -%>
<%- partial('CatalogHeader') %>

<ul class="breadcrumb">
    <li><a href="/my/catalog">Catalog</a></li>
    <li class="active"><a href="/my/resource">Resource</a></li>
</ul>